<main class="mainContainer">
  <div class="blueSection"></div>

  <div class="formSection">
    <h1 class="title">Create an Account</h1>
    <p class="subTitle">Already have an account? <a routerLink="/login"><b><u>Login</u></b></a></p>

    <form>
      <div class="inputGroup">
        <label>Name : </label>
        <input type="text" name="name" [(ngModel)]="user.name">
      </div>

      <div class="inputGroup">
        <label>Surname : </label>
        <input type="text" name="surname" [(ngModel)]="user.surname">
      </div>

      <div class="inputGroup">
        <label>Email address : </label>
        <input type="email" name="email" [(ngModel)]="user.email">
      </div>

      <div class="inputGroup">
        <label>Password : </label>
        <input type="password" name="password" [(ngModel)]="user.password">
      </div>

      <button type="button" class="signUpBtn" (click)="onRegister()">Sign Up</button>
    </form>
  </div>
</main>

