<main class="mainContainer">
  <div class="blueSection"></div>

  <div class="formSection">
    <h1 class="title">Create an Account</h1>
    <p class="subTitle">Already have an account? <a routerLink="/login"><b><u>Login</u></b></a></p>

    <form #regForm="ngForm">



      <div class="inputGroup">
        <label>Name : </label>
        <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" required>
        <small class="errorText" *ngIf="name.invalid && name.touched">Name is required.</small>
      </div>

      <div class="inputGroup">
        <label>Surname : </label>
        <input type="text" name="surname" [(ngModel)]="user.surname" #surname="ngModel" required>
        <small class="errorText" *ngIf="surname.invalid && surname.touched">Surname is required.</small>
      </div>

      <div class="inputGroup">
        <label>Email address : </label>
        <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
        <div *ngIf="email.invalid && email.touched">
          <small class="errorText" *ngIf="email.errors?.['required']">Email address is required.</small>
          <small class="errorText" *ngIf="email.errors?.['email']">Invalid email format.</small>
        </div>
      </div>

      <div class="inputGroup">
        <label>Password : </label>
        <div class="passwordWrapper">
          <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="user.password"
            #password="ngModel" required minlength="8">
          <button type="button" class="togglePassword" (click)="togglePasswordVisibility()" tabindex="-1">
            <img *ngIf="!showPassword" src="assets/togglePassword/eye-visibile.png" alt="Show password">
            <img *ngIf="showPassword" src="assets/togglePassword/eye-invisible.png" alt="Hide password">
          </button>
        </div>
        <small class="errorText" *ngIf="password.invalid && password.touched">Password is required (min. 8
          characters).</small>
      </div>

      <div class="serverError" *ngIf="errorMessage">
        <small>{{ errorMessage }}</small>
      </div>

      <button type="button" class="signUpBtn" [disabled]="regForm.invalid" (click)="onRegister()">Sign Up</button>
    </form>
  </div>
</main>
