<main class="mainContainer">
  <div class="blueSection"></div>

  <div class="formSection">
    <h1 class="title">Log in</h1>
    <p class="subTitle">Don't have an account? <b><u>Sign up</u></b></p>

    <form>
      <div class="inputGroup">
        <label>Email address</label>
        <input type="email">
      </div>

      <div class="inputGroup">
        <label>Password</label>
        <input type="password">
      </div>

      <button type="button" class="signInBtn">Sign In</button>
    </form>
  </div>
</main>
