<main class="mainContainer">
  <div class="blueSection"></div>

  <div class="formSection">
    <h1 class="title">Log in</h1>
    <p class="subTitle">Don't have an account? <b routerLink="/registration"><u>Sign up</u></b></p>

    <form>
      <div class="inputGroup">
        <label>Email address : </label>
        <input type="email" name="email" [(ngModel)]="login.email">
      </div>

      <div class="inputGroup">
        <label>Password : </label>
        <input type="password" name="password" [(ngModel)]="login.password">
      </div>

      <button type="button" class="signInBtn" (click)="onLogin()">Sign In</button>
    </form>
  </div>
</main>
